#fondo{
    background-color: grey;
}



.center1{
    text-align: center;
    border: 4px solid grey;
    padding: 10px;
    font-size: 50px;
    margin: auto;
    background-color: grey;
    width: 50%;
    color: white;
    border-radius: 10px;
}

.centrar1{
    text-align: center;
    border: 4px solid grey;
    padding: 10px;
    font-size: 20px;
    margin: auto;
    background-color: grey;
    width: 50%;  
    color: white;
    border-radius: 10px;
}

.centrar2{
    margin: 10px;

}

#imagenes{
    border: red;
    border-radius: 10px;
}

#fondos{
    background-color: black;
    background-size: auto;
    background-image: url(imagenes/bosque.jpg);
    
    
}